header {
	text-align: center;
	width: 100%;
}

main {
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
}

.search-container {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-bottom: 1em;
}

.search-container button {
	margin-left: 1em;
}

.spinner {
	margin: 1em;
	border: 0.4em ridge #e00;
	background: transparent;
	height: 2em;
	width: 2em;
	border-radius: 50%;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

.country-card {
	padding: 1em;
	border: 0.5em ridge #999;
	background: #bbb;
	text-align: center;
	align-content: center;
}

.border-grid {
	display: flex;
	flex-direction: horizontal;
	align-items: center;
	text-align: center;
	justify-content: space-evenly;
}

.border-grid div {
	height: 100%;
	padding: 1em;
	border: 0.5em ridge #999;
	border-radius: 20%;
}

.error {
	color: #e55;
}

.hidden {
	display: none;
}
